@model ForgotPassword

@{
    ViewBag.Title = _loc["Forgot Password"];
    Layout = "_Layout";
}
      <section class="section-black small-padding no-padding-bottom">
    
      <!--begin container-->
      <div class="container"> 

            <!--begin row-->
            <div class="row">
            
                <!--begin col-md-6-->
               
                <div class="col-md-6 wow bounceInUp">
                
                    <img src="https://source.unsplash.com/800x1000/?tarot" alt="picture" class="width-100">
                
                </div>
                <!--end col-md-6-->
                
                <!--begin col-md-6-->
                <div class="col-md-6 text-center register-inner padding-top-100">
            
                    <span class="comic-text" localize-content>Forgot Password</span>
                    
                    <h2></h2>
                    <p localize-content>Please enter your email address. We'll send your reset password information to your inbox. </p>                
                    
                    <!--begin success message -->
                    <p class="register_success_box" style="display:none;" localize-content>An email has been sent. Please check your inbox.</p>
                    <!--end success message -->
                    
                    <!--begin register form -->
                	      @using (Html.BeginForm("forgotpassword", "Account", FormMethod.Post))
	                      {
	                          @Html.AntiForgeryToken()
	                          <!--begin col-md-12-->
	                          <div class="col-md-12">

                                  <input class="register-input white-input" required="" name="email" placeholder="Email Address" type="text">

                              </div>
	                          <!--end col-md-12-->

	                          <!--begin col-md-12-->
	                          <div class="col-md-12">

                                  <input value="Submit" id="submit-button" class="register-submit" type="submit">

                              </div>
	                          <!--end col-md-12-->
	                      }                        
                    <!--end register form -->
                                        
                </div>
                <!--end col-md-6-->
                 
            </div>
            <!--end row-->
            
        </div>
        <!--end container-->
        
    </section>