  @model object
       
       @{
           ViewBag.Title = _loc["Reset Password Confirmation "];
           Layout = "_Layout";
       }
       
        <section class="section-black small-padding no-padding-bottom">
           
             <!--begin container-->
             <div class="container"> 
       
                   <!--begin row-->
                   <div class="row">
                   
                       <!--begin col-md-6-->
                      
                       <div class="col-md-6 wow bounceInUp">
                       
                           <img src="https://source.unsplash.com/800x1000/?tarot" alt="picture" class="width-100">
                       
                       </div>
                       <!--end col-md-6-->
                       
                       <!--begin col-md-6-->
                       <div class="col-md-6 text-center register-inner padding-top-100">
                   
                           <span class="comic-text" localize-content>Reset Password</span>
                           
                           <h2></h2>
                                        
                           
                           <!--begin success message -->
                           <p class="register_success_box"  localize-content>AYour password has been reset.</p>
                           <!--end success message -->
                           
                           <!--begin register form -->
                       	 
                           <!--end register form -->
                                               
                       </div>
                       <!--end col-md-6-->
                        
                   </div>
                   <!--end row-->
                   
               </div>
               <!--end container-->
               
           </section>

 