
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-globe fa-fw"></i><span id="lang"></span>
        
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="languageDropdown">
        <h6 class="dropdown-header" localize-content>
            Language
        </h6>
       
        <a class="dropdown-item d-flex align-items-center" onclick="changeLang('en')">
            <div class="mr-3">
                <div class="icon-circle bg-primary">
                    <i class="fas fa-globe-americas text-white"></i>
                </div>
            </div>

            <div>

                <span class="font-weight-bold">English</span>
            </div>
        </a>
        
        <a class="dropdown-item d-flex align-items-center" onclick="changeLang('tr')">
            <div class="mr-3">
                <div class="icon-circle bg-primary">
                    <i class="fas fa-globe-asia text-white"></i>
                </div>
            </div>
      
            <div>
      
                <span class="font-weight-bold">Türkçe</span>
            </div>
        </a>
        
    </div>
</li>

